@import 'bootstrap/dist/css/bootstrap.min.css';

.col {
    border-color: black;
    border-style: dotted;
    margin-top: 10%;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    text-align: center;
    font-size: 2cm;
    background-color: blue;
    color:black;
}